{{#unless username}}
	<a href="" class="btn">Se connecter</a>
{{/unless}}
<div class="header">
        <div class="btn " type="submit"> <i class="tweet fab fa-twitter fa-fw"></i></h1></div>
        <div class="" type="submit">
            <h5>Accueil</h5>
        </div>
        <div class="" type="submit">
            <h5>Tweets</h5>
        </div>
        <div class="" type="submit">
            <h5>Compte utilisateur</h5>
        </div>
        <div class="" type="submit">
            <h5>Profil utilisateur</h5>
        </div>
   
        <div class=" div " type="submit">
            <h5>Tweet</h5>
        </div>
    <div>
        <a href="/logout">Logout</a>
        <p>{{username}}</p>
    </div>
</div>