<div class="home row">
    {{> header}}

    <div class="col-11 col-md-8 main">
        <div class="profil">
            
            <div class="separador"></div>
            {{> tweets}}
        </div>
    </div>
    {{> tendance}}
</div>

<script src="/public/js/index.js"></script>