<div class="row" id="usernameContainer">
	<div class="col-12  welcomeText text-center">
		<h1>Signin</h1>
		<p>{{message}}</p>
	</div>

	<form class='col-12' method="post" action="/signin">
		<div class="row form-group">
			<div class="col authInputs">
				<input class="form-control" id="username" name="username" placeholder="Username" />
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col authInputs">
				<input class="form-control" id="password" type="password" name="password" placeholder="Password" />
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<button class="btn btn-primary pull-right" type="submit" id="submitUser">Submit</button>
			</div>
			<div class="col-md-4 col-md-offset-4">
				<a href="/signup" class="btn btn-default pull-right" type="submit" id="submitUser">Signup</a>
			</div>
		</div>
	</form>
	<br>


</div>